In [1]:
import pymysql

In [2]:
connect = pymysql.connect(host='127.0.0.1', port=3306, \
    user='root', passwd='1234', db='mydb', charset='utf8')
cursor = connect.cursor()

In [3]:
cursor.execute("show databases;")
cursor.fetchall()

(('information_schema',),
 ('mydb',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',))

In [4]:
cursor.execute("use mydb;")
cursor.execute("show tables;")
cursor.fetchall()

(('mytable',),)

In [12]:
cursor.execute("select* from mytable")
cursor.fetchall()

((1, 'test', '5678'), (123, 'bob', '1234'), (713, 'james', '7443'))

In [6]:
cursor.execute("show columns from mytable;")
cursor.fetchall()

(('ID', 'int', 'NO', 'PRI', None, ''),
 ('name', 'char(10)', 'YES', '', None, ''),
 ('phone', 'char(4)', 'YES', '', None, ''))

In [7]:
cursor.execute("select* from mytable")
L = [data for data in cursor.fetchall()]
print("table shape=", len(L[0]), "x", len(L))

table shape= 3 x 2

In [11]:
cursor.execute("insert into mytable(ID, Name, phone) values(001,'test','5678');")
connect.commit()