In [1]:
import pandas as pd
import pymysql

In [2]:
df = pd.read_csv("./test_input.csv")
print(df)
print(df.loc[1]['name'])

     ID   name  phone
0  2001  hello   2001
1  2002  world   2002
world

In [9]:
connect = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='1234',\
    db='mydb', charset='utf8')
cursor = connect.cursor()
cursor.execute("use mydb;")

0

In [10]:
cursor.execute("use mydb;")
cursor.execute("select* from mytable;")
cursor.fetchall()

((1, 'test', '5678'), (123, 'bob', '1234'), (713, 'james', '7443'))

In [11]:
for i in range(len(df)):
    cursor.execute("insert into mytable(ID, name, phone) values({},'{}',{});".format(\
    df.loc[i]['ID'], df.loc[i]['name'], df.loc[i]['phone']))
connect.commit()

cursor.execute("select* from mytable;")
cursor.fetchall()

((1, 'test', '5678'),
 (123, 'bob', '1234'),
 (713, 'james', '7443'),
 (2001, 'hello', '2001'),
 (2002, 'world', '2002'))

In [24]:
cursor.execute("delete from mytable where ID=2001 or ID=2002;")
connect.commit()
cursor.execute("select* from mytable;")
cursor.fetchall()

((1, 'test', '5678'), (123, 'bob', '1234'), (713, 'james', '7443'))

In [20]:
df = pd.DataFrame({"ID":[], "name":[], "phone":[]})
cursor.execute("select* from mytable;")
L = cursor.fetchall()
for i in range(len(L)):
    df.loc[i] = L[i]
print(df)
df.to_csv("test_output.csv")

      ID   name phone
0    1.0   test  5678
1  123.0    bob  1234
2  713.0  james  7443