In [1]:
import sqlite3

In [2]:
connect = sqlite3.connect('a.db')
cursor = connect.cursor()

In [20]:
cursor.execute('create table hello2(a int, b char(10))')
connect.commit()

In [24]:
cursor.execute('insert into hello2(a,b) values(4,\'bobo2\')')
cursor.execute('insert into hello2(a,b) values(5,\'bobo1\')')
connect.commit()

In [25]:
cursor.execute('select* from hello2')
cursor.fetchall()

[(4, 'bobo2'), (5, 'bobo1'), (4, 'bobo2'), (5, 'bobo1')]

In [31]:
cursor.execute("SELECT* FROM sqlite_master;")
print(cursor.fetchall())

[('table', 'hello', 'hello', 2, 'CREATE TABLE hello(a int, b char(10))'), ('table', 'hello2', 'hello2', 3, 'CREATE TABLE hello2(a int, b char(10))')]

In [8]:
import sqlite3
import pandas as pd

connect = sqlite3.connect('a.db')
df = pd.read_sql('select* from sqlite_master', connect)
df

    type    name tbl_name  rootpage                                     sql
0  table   hello    hello         2   CREATE TABLE hello(a int, b char(10))
1  table  hello2   hello2         3  CREATE TABLE hello2(a int, b char(10))

In [9]:
pd.read_sql('select* from hello', connect)

   a      b
0  3   bobo
1  4  bobo2
2  5  bobo1
3  4  bobo2
4  5  bobo1